@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  color: black;
}

.icon-div {
  width: 400px;
  display: flex;
  color: black;
  margin-right: 20px;
  margin-left: 20px;
  justify-content: space-around;
}